<ion-header>
  <ion-toolbar>
    <ion-title>
      Sign Up
    </ion-title>
    <ion-back-button text="Back" icon="add"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <!-- Segment with secondary color -->
  <ion-segment (ionChange)="segmentChanged($event)" color="primary">
    <ion-segment-button value="Work" checked>
      <ion-label>Work</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Personal" >
      <ion-label>Personal</ion-label>
    </ion-segment-button>
  </ion-segment>

<div *ngIf="personal">
  <ion-item>
    <ion-label position="stacked">First Name</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
  <ion-label position="stacked">Last Name</ion-label>
  <ion-input></ion-input>
</ion-item>

</div>
<div *ngIf="!personal">

  <ion-item>
    <ion-label position="stacked">What do your friends call you?</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Facebook profile link:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Instagram profile link:</ion-label>
    <ion-input></ion-input>
  </ion-item>

 </div>

</ion-content>
